h1{color: blue;}
h2{color: rgb(170, 47, 47);}
h3{color: rgb(128, 55, 197);}
a{color: rgb(252, 169, 17);}
.orange{color: rgb(252, 169, 17);}
ul{color: rgb(252, 169, 17);}
p{color: rgb(252, 169, 17);}
i{color: rgb(252, 169, 17);}
.red{color: rgb(223, 16, 16);}